.btn {
    font-family: $mono;
    color: $white;
    padding: 8px 12px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;

    img {
        -o-object-fit: cover;
           object-fit: cover;
        width: $fs-xxs;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
        transition: all 0.5s ease;
    }
}

.green {
    background-color: $green;
    border: 2px solid $green-outline;
    
    &:hover {
        img {
            transform: rotate(360deg);
        }
    }
}

.blue {
    background-color: $blue;
    border: 2px solid $blue-outline;

    &:hover {
        img {
            scale: 0.75;
        }
    }
}

.black {
    background-color: $black;
    border: 2px solid $dark-grey;
    width: auto;
    transition: scale 0.25s ease;

    &:hover {
        scale: 0.975;
    }
}

.white {
    background-color: $white;
    border: 2px solid $white;
    color: $black;
    width: auto;
    transition: scale 0.25s ease;

    &:hover {
        scale: 0.975;
    }
}

.share-btn,
.download-btn {
    width: $fs-xs;
    height: $fs-xs;
    padding: 0;
    background-color: unset;
    border: unset;
    transition: scale 0.25s ease;
    cursor: pointer;

    img {
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
        width: 100%;
        height: 100%;
    }

    &:hover {
        scale: 0.9
    }
}

@media screen and (max-width: 768px) {

    .share-btn,
    .download-btn {
        width: $fs-sm;
        height: $fs-sm;
    }
    
}

@media screen and (max-width: 425px) {

    .btn {
        
        img {
            width: $fs-xxxs;
        }
    }
    
}